<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

    <div fxFlex *ngIf="dish">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt={{dish.description}}>
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

    </div>


  <div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

    <mat-card>
       <mat-card-header>
         <mat-card-title>
           <h3>Comments</h3>
         </mat-card-title>
       </mat-card-header>

       <mat-card-content>

         <mat-list fxFlex>
          <mat-list-item *ngFor="let comment of dish.comments">
            <p matLine>
              <span> {{comment.comment}} </span>
            </p>
            <p matLine>
              <span> {{comment.rating}} </span>
            </p>
            <p matLine>
              <span> {{comment.date | date }} </span>
            </p>
          </mat-list-item>
        </mat-list>
           <!--
           <mat-grid-tile *ngFor="let comments of dish.comments">

               <h1>{{comments.comment}}</h1>

           </mat-grid-tile>
           -->
       </mat-card-content>

     </mat-card>

   </div>


<!--
  <div fxFlex="40">
    <p>Display the details of the Dish here</p>
    <div fxFlex>
        <img height="200px" src={{dish.image}} alt={{dish.description}}>
    </div>
  </div>

  <div fxFlex="40">
    <p>Display the list of comments here</p>
    <div fxFlex>
      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let comments of dish.comments">
          <mat-grid-tile-footer>
            <h1>{{comments.comment}}</h1>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
-->

</div>
